::-webkit-scrollbar {
	display: none;
}

#d2 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active1) {
	background-color: #111;
	text-decoration: none;
}

.active1 {
	background-color: darkgrey;
	text-decoration: none;
}

.active1:hover {
	background-color: lightyellow;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

.Back {
	max-width: 100%;
	max-height: 90%;
	position: absolute;
	top: 48px;
	margin: 0;
}

.img {
	vertical-align: middle;
	filter: brightness(35%);
	height: 720px;
}

.crazy {
	display: flex;
}

.main {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 16px;
	color: #f2f2f2;
	width: 100%;
	top: 18px;
}

.service {
	display: flex;
	width: 100%;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: 5% auto auto auto;
	text-align: center;
	font-family: arial;
	border: none;
	border-radius: 5px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);	
	padding: 10px;
	color: black;	
 	transition: all .2s ease-in-out; 
}

.card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	border-radius: 10px;
}

.card button:hover {
	opacity: 0.7;
}

.card:hover {
	transform: scale(1.2);	
	background: linear-gradient(to right, #f12711, #f5af19);
}